# Eclipse
/**/.classpath
/**/.project
/**/.settings/

# Intellij
/**/.idea/
/**/*.iml
/**/*.iws

# Mac
/**/.DS_Store

# Maven
/**/target/

# Webapp
/**/src/main/webapp/WEB-INF/classes/

# Others
/log/
/logs/
/out/
/**/bin/
/**/.myeclipse
